@import './variables';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.75rem !important;
}

nav {
  &.navbar-light {
    .navbar-toggler {
      border: none !important;
      padding: 0 !important;
      &:focus {
        outline: none !important;
      }
    }
  }
  .navbar-brand {
    background-color: $primary-dark;
    color: $primary-light !important;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
  }
  .navbar-nav .nav-link {
    color: $primary-dark !important;
    font-weight: 700;
    height: 2.25rem;
    padding: 0.5rem 1.25rem !important;
    &:active {
      border-bottom: 2px solid $accent-color;
    }
    &:hover {
      border-bottom: 2px solid $accent-color;
    }
  }
}
